
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Merriweather&family=Work+Sans:ital,wght@1,700&display=swap');

  *{
          margin:0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Lato', sans-serif;

  }
  /* common class */
.container{
           width: 80%;
          margin: 0 auto;
}
/* header section start */
header

.head-cover{
          background-image: url("images/Banner\ Image.png");
          object-fit: cover;
          background-repeat: no-repeat;  
          height: 100vh;
          background-position: center;
          background-size: 100%;
        
          
          
}
.cover-description h3{
  display: flex;
  font-size: 25px;
  color: whitesmoke;
  font-weight: 50;
  justify-content: center;
  align-items: center;
  padding-top: 310px;
}

.cover-description h1{
  display: flex;
  font-size: 60px;
  color: whitesmoke; 
  font-weight: 400;
  justify-content: center;
  align-items: center;
} 
/* .catagory-content start */

.catagory-content{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;


}
.catagory-content h1 {
  color: brown;
  font-size:60px ;
}

.catagory-content h5 {
  color: brown;

}

  /* section-two start */
  .party-container{
    background-image: url('images/Vectorrr.png');
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aqua;
  }

  .party-content h1{
    font-size: 40px;

  }

  .party-content p{
    font-size: 20px;
  }

  .party-content button{
    margin-top: 10px;
    width: 120px;
    height: 30px;
    font-size: 16px;
    color: whitesmoke;
    border: none;
    background: none;
    font-weight: 100px;
    padding-left: 25px;
  }
  .party-img img{
    width: 250px;
    
  }
  /* section-3 */
  
  .profile-container{
    display: flex;
    justify-content: space-between;
    
  }
  .column{
    width: 25%;
  }

  .personal-img img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 10px solid red;
    padding: 6px;
  }
  .year-img img{
    width: 70px;
  }
  /* section-4 */
  .product-items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 15px;
    row-gap: 15px;
  }
  .product-items img{
    width: 100%
    
  }
  /* section-6 */
  .newslater-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .form-content{
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    gap: 0;
    justify-content: center;
    
  }
  .form-content input{
    width: 300px;
    height: 40px;
    font-size: 18px;
    background-color: white;
    color: brown;
    padding-left: 10px;
    border-radius: 30px 0px 0px 30px;
  }
  .btn-secondary{
    height: 40px;
    width:150px ;
    font-size: 25px;
    color:white;
    background-color: brown;
    border-radius: 0px 30px 30px 0px ;


  }
  /* footer section start */
  footer{
    background-color: black;
  }
  .fast-row{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  .second-row{
    margin: 65px 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
  .thard-row{
    display: flex;
    justify-content: space-between;

  }
  .item-text{
    font-size: large;
    color: white;
    margin-bottom: 60px;
  }

  





